<app-elem-header
  [eh_title]="'Educación: Dashboard de Datos'"
  [eh_subtitle]="'Gestión de Datos Estratégicos / Casa Central'"
  [eh_bg_color]="'#ff9966'"
  [eh_text_color]="'#ffffff'"
></app-elem-header>


<app-elem-note1
  [en1_bg_color]="'#fde68a'"
  [en1_text_color]="'#d97706'"
  [en1_border_color]="'#d97706'"
  [en1_text]="'Las siguientes tarjetas se irán habilitando
  progresivamente a medida que se implemente
  el gobierno de datos de la dirección.
  Por ahora, solo están disponibles las tarjetas de NEE y ATET.'">
</app-elem-note1>


<!-- <app-elem-bar1 
  [title]="'Dashboard de Datos'" 
  [subtitle]="'Gestión de Datos Estratégicos / Casa Central'">
</app-elem-bar1> -->


<app-elem-button-grid [button_data]="buttons"></app-elem-button-grid>

<div class="grid grid-cols-2 gap-4 justify-center items-center p-4">
  <app-elem-draw-04></app-elem-draw-04>
  <app-elem-draw-05></app-elem-draw-05>
</div>

<div class="grid grid-cols-3 gap-4 justify-center items-center p-4">
  <app-elem-draw-01></app-elem-draw-01>
  <app-elem-draw-02></app-elem-draw-02>
  <app-elem-draw-03></app-elem-draw-03>
</div>





<!-- <router-outlet></router-outlet> -->
