<h1 class="text-2xl font-bold mb-4">Panel Educación NEE</h1>

<div class="grid grid-cols-2 gap-4 h-auto">
  <div class="h-full">
    <app-elem-draw-01></app-elem-draw-01>
  </div>
  <div class="h-full">
    <app-elem-draw-02></app-elem-draw-02>
  </div>
</div>

<div class="grid grid-cols-3 gap-4 mt-6 h-auto">
  <div class="h-full">
    <app-elem-draw-03></app-elem-draw-03>
  </div>
  <div class="h-full">
    <app-elem-draw-04></app-elem-draw-04>
  </div>
  <div class="h-full">
    <app-elem-draw-05></app-elem-draw-05>
  </div>
</div>