<!-- <app-elem-header
  [htitle]="'Titulo header HOME'"
  [hsubtitle]="'SUB Titulo header'">
</app-elem-header>


<app-elem-card-grid1></app-elem-card-grid1>


<div class="grid grid-cols-3 justify-center gap-4 py-6 dev1">
  <button class="p-6 bg-teal-500 hover:bg-teal-600 active:bg-teal-400 rounded-lg text-white font-bold focus:outline-none focus:ring-2 focus:ring-teal-400 transition">DATOS <br /> ESTRATÉGICOS</button>
  <button class="p-6 bg-gray-200 hover:bg-gray-300 active:bg-gray-400 rounded-lg text-white font-bold focus:outline-none focus:ring-2 focus:ring-gray-400 transition">DATOS <br /> OPERATIVOS</button>
  <button class="p-6 bg-gray-200 hover:bg-gray-300 active:bg-gray-400 rounded-lg text-white font-bold focus:outline-none focus:ring-2 focus:ring-gray-400 transition">DATOS <br /> TÉCNICOS</button>
</div> -->
