
<div class="flex items-center justify-center">
  <div class="p-6 bg-white shadow-lg rounded-lg w-96">
    <!-- Título -->
    <h1 class="text-center text-lg font-semibold text-gray-800">
      <p>elem-draw-03 works!</p>
      % de niñas y niños con nacionalidad extranjera
      </h1>
      <!-- Gráfico de torta -->
      <div class="flex items-center justify-center mt-6">
          <svg class="w-48 h-48" viewBox="0 0 32 32">
              <!-- Parte grande del pastel -->
              <circle r="16" cx="16" cy="16" fill="white"></circle>
              <circle r="16" cx="16" cy="16" fill="transparent" stroke="rgb(147, 197, 253)" stroke-width="32" stroke-dasharray="75 25" transform="rotate(-90) translate(-32)"></circle>
              <!-- Parte media -->
              <circle r="16" cx="16" cy="16" fill="transparent" stroke="rgb(96, 165, 250)" stroke-width="32" stroke-dasharray="50 50" transform="rotate(75) translate(-32)"></circle>
          </svg>
      </div>
  </div>
</div>